torch==${TORCH} --extra-index-url https://download.pytorch.org/whl/${CUDA}
torch-scatter -f https://data.pyg.org/whl/torch-${TORCH}.html
torch-sparse -f https://data.pyg.org/whl/torch-${TORCH}.html
torch_geometric
torch-cluster -f https://data.pyg.org/whl/torch-${TORCH}.html
dill
matplotlib
shapely
termcolor
h5py
